:root{
    --bg: linear-gradient(rgb(11, 10, 73, 0.8), rgba(11, 10, 73, 0.8)), url(https://images.pexels.com/photos/1420440/pexels-photo-1420440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  }
  
  body{
    background: var(--bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .custom-banner, *::selection{
    background-color: rgb(7, 6, 36);
    color: white !important;
  }
  
  .custom-card{
    border: none;
    border-radius: 10px;
    color: white;
    position: relative;
    /* background: var(--bg); */
    background: linear-gradient(rgb(11, 10, 73, 0.8), rgba(11, 10, 73, 0.8)), url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg) no-repeat;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    overflow: hidden;
    /* background-attachment: fixed; */
  }
  
  .h-100{
    height: 100% !important;
  }
  
  .custom-link{
    color: white;
    text-decoration: none;
    transition: all 0.2s linear;
  }
  
  .custom-link:hover{
    color: rgb(255, 0, 43);
  }
  
  .custom-card-image{
    width: 100% !important;
    height: 450px;
    max-height: 450px;
    overflow: hidden;
  }
  
  .custom-card-image .img-top{
    width: 100% !important;
    /* height: 100% !important; */
    object-fit: cover;
    aspect-ratio: 16/9;
  }
  
  .source-item{
    display: block;
  }
  
  .source-item{
    font-size: 18px;
    line-height: 1.5rem;
  }
  